@using TP10.ViewModels
@model ModificarUsuarioViewModel

<form asp-controller="Usuario" asp-action="UpdateUsuario">
    <input hidden asp-for="@Model.Id">

    <div class="form-group">
        <label asp-for="@Model.NombreUsuario">Usuario:</label>
        <input asp-for="@Model.NombreUsuario" class="form-control" />
        <span asp-validation-for="@Model.NombreUsuario" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Contrasenia">Contraseña:</label>
        <input type="password" asp-for="@Model.Contrasenia" class="form-control" />
        <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Rol">Rol:</label>
        <select asp-for="@Model.Rol" asp-items="Html.GetEnumSelectList<Roles>()" class="form-control"></select>
    </div>

    <button type="submit">Modificar</button>


</form>